<template>
  <ul class="icons" v-if="icons">
    <template v-for="icon in icons">
      <li v-if="isThis(icon, 'vim')" class="d-inline">
        <el-tooltip content="私は Vimmer です" placement="top">
          <img style="width: 3em;" src="~assets/images/icons/vimlogo-564x564.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'qiita')" class="d-inline">
        <el-tooltip content="私の半分は Qiita でできている" placement="top">
          <img style="width: 3em;" src="~assets/images/icons/qiita.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'gitlab')" class="d-inline">
        <el-tooltip content="GitLab を応援しています" placement="top">
          <img style="width: 3em;" src="~assets/images/icons/gitlab.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'jsfiddle')" class="d-inline">
        <el-tooltip content="jsfiddle 愛" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/jsfiddle.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'backlog')" class="d-inline">
        <el-tooltip content="Backlog があなたを救う" placement="top">
          <img style="width: 7em;" src="~assets/images/icons/backlog.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'redmine')" class="d-inline">
        <el-tooltip content="Redmine" placement="top">
          <img style="width: 8em;" src="~assets/images/icons/redmine.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'wordpress')" class="d-inline">
        <el-tooltip content="Wordpress" placement="top">
          <img style="width: 4em;" src="~assets/images/icons/wordpress.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'mt')" class="d-inline">
        <el-tooltip content="Movable Type" placement="top">
          <img style="width: 8em;" src="~assets/images/icons/mt.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'php')" class="d-inline">
        <el-tooltip content="PHPer かもしれない" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/php.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'mysql')" class="d-inline">
        <el-tooltip content="MySQL" placement="top">
          <img style="width: 8em;" src="~assets/images/icons/mysql.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'pgsql')" class="d-inline">
        <el-tooltip content="PostgreSQL" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/postgresql.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'cakephp')" class="d-inline">
        <el-tooltip content="負けちゃダメだ！ CakePHP！！" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/cakephp.svg">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'apache')" class="d-inline">
        <el-tooltip content="Apache" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/apache.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'nginx')" class="d-inline">
        <el-tooltip content="nginx" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/nginx.jpg">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'aws')" class="d-inline">
        <el-tooltip content="AWS" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/aws.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'angular.js')" class="d-inline">
        <el-tooltip content="Angular.js から全てが始まった" placement="top">
          <img style="width: 4em;" src="~assets/images/icons/angular.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'vue.js')" class="d-inline">
        <el-tooltip content="Vue.js はとても優秀だった" placement="top">
          <img style="width: 8em;" src="~assets/images/icons/vue.jpg">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'nuxt.js')" class="d-inline">
        <el-tooltip content="ありがとう！ Nuxt.js" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/nuxt.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'element')" class="d-inline">
        <el-tooltip content="Element" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/element.svg">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'bootstrap')" class="d-inline">
        <el-tooltip content="Bootstrap" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/bootstrap.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'webpack')" class="d-inline">
        <el-tooltip content="Webpack は宇宙を超えた" placement="top">
          <img style="width: 8em;" src="~assets/images/icons/webpack.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'gulp')" class="d-inline">
        <el-tooltip content="gulp でドリンクを作ります" placement="top">
          <img style="width: 5em;" src="~assets/images/icons/gulp.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'rubygems')" class="d-inline">
        <el-tooltip content="RubyGems" placement="top">
          <img style="width: 4em;" src="~assets/images/icons/rubygems.png">
        </el-tooltip>
      </li>
      <li v-if="isThis(icon, 'vagrant')" class="d-inline">
        <el-tooltip content="Vagrant" placement="top">
          <img style="width: 4em;" src="~assets/images/icons/vagrant.svg">
        </el-tooltip>
      </li>
    </template>
  </ul>
</template>

<script>
export default {
  props: ['icons'],
  methods: {
    isThis: function (key, val) {
      return key === val || key === 'all'
    }
  }
}
</script>

<style>
ul.icons {
  list-style-type: none;
  padding-left: 0;
}

ul.icons > li {
  margin-left: 1em;
}
</style>
