<template>
  <div>
    <div v-if="kv" style="width: 50%; margin: auto;" class="text-center"><img :src="src" class="img-fluid"></div>
    <table class="table">
      <tr>
        <th>URL</th>
        <td><a :href="url" target="_blank">{{ url }}</a></td>
      </tr>
      <tr v-if="source">
        <th>ソースコード</th>
        <td><a :href="source" target="_blank">{{ source }}</a></td>
      </tr>
      <tr>
        <th>チーム構成</th>
        <td>
          <slot name="team">不明</slot>
        </td>
      </tr>
      <tr>
        <th>説明</th>
        <td>
          <slot name="section"></slot>
        </td>
      </tr>
      <tr>
        <th>担当箇所</th>
        <td>
          <slot name="task"></slot>
        </td>
      </tr>
      <tr>
        <th>利用した技術</th>
        <td><slot name="engine"></slot></td>
      </tr>
    </table>
  </div>
</template>

<script>
let images = require.context("../assets/images/works", false, /.*\..*$/);

export default {
  props: ['kv', 'url', 'source'],
  computed: {
    src: function () {
      return images('./' + this.kv)
    }
  }
}
</script>
