<template>
  <section>
    <div class="jumbotron bg__keybord">
      <h1 class="display-4">Knight4loop...loop</h1>
      <p class="lead">This page is Kaoru Naito's portfolio. Shall we work together?</p>
      <hr class="my-4">
      <p>こんにちは。私は<ruby>内藤 郁芳<rp>(</rp><rt>ないとう かおる</rt><rp>)</rp></ruby>と申します。</p>
      <p>小学生の頃に HTML を書き始めてから17年間、ドップリと Web の世界に取り込まれてきました。</p>
      <p>最も得意な言語は ECMAScript でプロトタイプベースオブジェクトから理解しております。ECMAScript ならば API 仕様書で理解できなければ、ググるのではなくソースコードを読みます。</p>
      <p>サブで活躍する言語は PHP です。</p>
      <p>今まで Perl、C、Java、C++、Ruby など使うこともありましたが PHP に比べますとまだまだと言ったところ。</p>
      <p>プログラマー三大美徳「怠惰」「短気」「傲慢」を大切にしています。</p>
      <p>絶対に苦労しないための努力・問題を放置しない頑固さ・美しいソースコードを書いてやるという自尊心</p>
    </div>
    <section>
      <h2>Works</h2>
      <p>携わった開発や創作物の一部です。Click there!</p>
      <section>
        <ul class="work-list">
          <li v-for="work in works" @click="setWork(work.key)">
            <div class="card">
              <img class="card-img-top" :src="getIconImageSrc(work.icon)">
            </div>
          </li>
        </ul>
      </section>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('reclo')"
        :before-close="clearWork">
        <work-panel
          key="reclo"
          kv="reclo.jp.png"
          url="https://reclo.jp/" >
          <template slot="team">
            <p>開発チーム：１～3名</p>
          </template>
          <template slot="section">
            <p>ラグジュアリーブランドの委託販売・買取サービス「RECLO」の新規開発・運用を行いました。</p>
          </template>
          <template slot="task">
            <p>データベース設計（一部）、CakePHP 実装での機能実装。</p>
          </template>
          <template slot="engine">
            <icon :icons="['cakephp', 'aws', 'angular.js', 'mysql']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('lifull')"
        :before-close="clearWork">
        <work-panel
          kv="www.lifull-fintech.com.png"
          url="https://www.lifull-fintech.com/insurance/" >
          <template slot="team">
            基本設計・DB設計チーム（クライアント） ＋ 弊社開発チーム（2名）
          </template>
          <template slot="section">
            <p>保険比較サイト「Lifull保険比較」の新規開発（ユーザ側/管理者側）を行いました。</p>
            <p>リードプログラマーとして Backlog での Git プルリクエストの処理なども行いました。</p>
            <p>納期にも間に合い、クライアントからは高評価のプロジェクトでした。</p>
          </template>
          <template slot="task">
            <p>CakePHP 実装での共通モジュールの開発・機能実装、Git プルリクエストの処理、javascript の動的箇所（お気に入り、閲覧履歴、検索バーなど）</p>
          </template>
          <template slot="engine">
            <icon :icons="['angular.js', 'cakephp', 'pgsql', 'nginx', 'backlog', 'redmine']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('nttd-mse')"
        :before-close="clearWork">
        <work-panel
          key="nttd-mse"
          kv="nttd-mse.com.png"
          url="http://nttd-mse.com/" >
          <template slot="section">
            <p>Ntt data mse 様のコーポレートサイトの作成を行いました。</p>
          </template>
          <template slot="task">
            <p>Movable Type での動的出力方法の設計と実装</p>
          </template>
          <template slot="engine">
            <icon :icons="['mt']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('difference')"
        :before-close="clearWork">
        <work-panel
          kv="difference.tokyo.png"
          url="https://difference.tokyo/app.html" >
          <template slot="team">
            基本設計・デザインチーム（クライアント）＋ API 作成協力会社様（2名） ＋ 弊社フロント開発チーム（1～5名）
          </template>
          <template slot="section">
            <p>オーダスーツWEBアプリケーション「DIFFERENCE」の新規開発フロントエンド側を担当しました。</p>
            <p>SPA となっております。</p>
          </template>
          <template slot="task">
            <p>SPA の javascript （フロントエンド部分）のカート処理以外（ソースコードの７０％）。</p>
          </template>
          <template slot="engine">
            <icon :icons="['vue.js', 'webpack']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('nttdocomo')"
        :before-close="clearWork">
        <work-panel
          kv="www.nttdocomo.co.jp.png"
          url="https://www.nttdocomo.co.jp/special_contents/forones/?firstview=1">
          <template slot="section">
            <p>TOP の「For Ones」のアニメーションの実装を担当しました。</p>
            <p>YouTube API、SVG アニメーション、JS アニメーションが組み合わせられております。</p>
          </template>
          <template slot="task">
            <p>TOP の動画部分の javascript 箇所</p>
          </template>
          <template slot="engine">
            <icon :icons="['gulp']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('html-framework')"
        :before-close="clearWork">
        <work-panel
          kv="html-framework.png"
          url="https://gitlab.com/knight4loop/html-framework"
          source="https://gitlab.com/knight4loop/html-framework">
          <template slot="team">
            自主作成
          </template>
          <template slot="section">
            <p>社内の HTML、CSS の作成効率化になれば思い、HTML 量産フレームワークを作成しました。</p>
            <p>残念なことに使用してもらう機会を設けられずお蔵入りとなりました。</p>
          </template>
          <template slot="task">
            <p>全て</p>
          </template>
          <template slot="engine">
            <icon :icons="['gulp']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
      <el-dialog
        top="3vh"
        width="90%"
        :visible="isWork('portfolio')"
        :before-close="clearWork">
        <work-panel
          kv="portfolio.png"
          url="https://knight4loop.gitlab.io/portfolio/"
          source="https://gitlab.com/knight4loop/portfolio">
          <template slot="team">
            自主作成
          </template>
          <template slot="section">
            <p>このページです。せっかくの機会でしたので作成しました。</p>
            <p>所要時間は1.5人日程度。</p>
            <p>流行りの Nuxt.js と、GitLab Page を組み合わせて作ってみました。</p>
          </template>
          <template slot="task">
            <p>ソースコードの pages ディレクトリと components ディレクトリ内</p>
          </template>
          <template slot="engine">
            <icon :icons="['gitlab', 'vue.js', 'elements', 'bootstrap', 'nuxt.js']" />
          </template>
        </work-panel>
        <span slot="footer" class="dialog-footer">
          <div class="row">
            <div class="col-sm text-left">
              <el-button-group>
                <el-button v-if="hasPrev()" @click="prevWork" type="primary" icon="el-icon-arrow-left"></el-button>
                <el-button v-if="hasNext()" @click="nextWork" type="primary"><i class="el-icon-arrow-right el-icon-right"></i></el-button>
              </el-button-group>
            </div>
            <div class="col-sm">
              <el-button @click="clearWork">閉じる</el-button>
            </div>
          </div>
        </span>
      </el-dialog>
    </section>
    <section class="mt-5">
      <h2>Outdoor activities</h2>
      <p>主な野外活動。Qiita はポエム集になりつつあります。</p>
      <section>
        <ul>
          <li><a href="https://qiita.com/knaito-531" target="_blank">Qiita: https://qiita.com/knaito-531</a></li>
          <li><a href="https://gitlab.com/knight4loop" target="_blank">GitLab: https://gitlab.com/knight4loop</a></li>
        </ul>
      </section>
    </section>
    <section class="mt-5">
      <h2>Used Engines</h2>
      普段利用しているモジュール・サービス等です。順不同。
      <icon :icons="['all']" />
    </section>
    <footer class="mt-5 mb-5">
      <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading">Contact</h4>
        <p>私に「ちょっと話を聞いてみたい」ですか？　なんて嬉しいお言葉！　ご連絡はこちらへどうぞ。</p>
        <hr>
        <p class="mb-0">umehana.kaoru@gmail.com (or knight4loop@gmail.com)</p>
      </div>
    </footer>
  </section>
</template>

<script>
import Icon from '~/components/Icon'
import WorkPanel from '~/components/WorkPanel'

let images = require.context("~/assets/images/works", false, /.*\..*$/);

export default {
  components: {
    WorkPanel,
    Icon
  },
  data: function () {
    return {
      work: '',
      works: [
        {
          key: 'reclo',
          icon: 'reclo.jp__icon.png'
        },
        {
          key: 'nttd-mse',
          icon: 'nttd-mse.com__icon.png'
        },
        {
          key: 'lifull',
          icon: 'www.lifull-fintech.com__icon.png'
        },
        {
          key: 'difference',
          icon: 'difference.tokyo__icon.png'
        },
        {
          key: 'nttdocomo',
          icon: 'www.nttdocomo.co.jp__icon.png'
        },
        {
          key: 'html-framework',
          icon: 'html-framework__icon.png'
        },
        {
          key: 'portfolio',
          icon: 'portfolio__icon.png'
        }
      ]
    }
  },
  methods: {
    isWork: function (key) {
      return this.work === key
    },
    setWork: function (key) {
      this.work = key
    },
    clearWork: function () {
      this.work = null
    },
    getIconImageSrc: function (src) {
      return images('./' + src);
    },
    findWorkIdx: function (work) {
      let { works } = this
      if (!work) {
        work = this.work
      }
      let idx = -1
      works.some(({ key }, _idx) => {
        if (key === work) {
          idx = _idx
          return true
        }
        return false
      })
      return idx
    },
    hasPrev: function () {
      let idx = this.findWorkIdx()
      return 0 < idx
    },
    hasNext: function () {
      let idx = this.findWorkIdx()
      return idx < this.works.length - 1
    },
    nextWork: function () {
      let idx = this.findWorkIdx()
      this.setWork(this.works[idx+1].key)
    },
    prevWork: function () {
      let idx = this.findWorkIdx()
      this.setWork(this.works[idx-1].key)
    }
  }
}
</script>

<style>
.bg__keybord {
  background-image: url(~/assets/images/bg__keybord.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000000;
}

.work-list {
  list-style-type: none;
  padding-left: 0;
}

.work-list > li{
  display: inline-flex !important;
  margin-left: 0.3em;
  width: 8em;
  cursor: pointer;
}
</style>
